/* Your custom fonts here */

/* Example

@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/Custom-Font.eot');
    src: url('../fonts/Custom-Font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Custom-Font.woff') format('woff'),
         url('../fonts/Custom-Font.svg#custom_font') format('svg');
    font-weight: 400;       // For normal width. It could has another value
    font-style: normal;     // Also could has another value
    }


// Var for using custom font
$CustomFont: 'CustomFont', Helvetica, Arial, sans-serif;
*/
@font-face {
    font-family: 'pt_sans_narrow';
    src: url('../fonts/pt_sans_narrow.woff2') format('woff2'),
         url('../fonts/pt_sans_narrow-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}




@font-face {
    font-family: 'pt_sans_narrowbold';
    src: url('../fonts/pt_sans_narrow_bold.woff2') format('woff2'),
         url('../fonts/pt_sans_narrow_bold.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}
