// File for scss-vars.
// For example: main colors, paddings and so on.


$desktop: 1200px;
$lg-tablet: 992px;
$tablet: 768px;
$phone: 576px;

//colors
$coommonbg-color: #353535;
$white: #ffffff;
$black: #000000;
$brown: #826550;
$dark-brown: #6a4d38;
$dark-gray: #292929;
$gray: #b2b2b2;
$light-gray: #f8f5f2;
$link-dactive: #4c4c4c;
$sandwich-hover: #624530;
$link-hover: #755a46;
$link-mactive: #978274;
$news-gray: #e5ddd5;


//fonts
$main-font: "pt_sans_narrow";
$main-font-bold: "pt_sans_narrowbold";

//resolutions
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
