

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 650px;
    padding-top: 55px;
    margin: 0 -120px;
    flex-direction: column;
}

.banner__logo-img {
    fill: $white;
}


.banner__logo-mobile {
    display: none;
}
