mixin statistics(data)
    .statistics__wrap
        .statistics
            .statistics__triangle
            .statistics__tagline
                h1.statistics__tagline-h1 Стрижка у нас это выгодно!
                p.statistics__text.statistics__text--black Мужская стрижка требует точного подхода. Обратимся к статистике:
                p.statistics__text.statistics__text--gray.statistics__note * — приведённые данные ложь
            .statistics__indicators
                .statistics__indicator.statistics__indicator--gray
                    p.statistics__text.statistics__text--big 1 500 *
                    p.statistics__text рублей вложений
                .statistics__indicator.statistics__indicator--light-gray
                    p.statistics__text.statistics__text--big 7 200
                    p.statistics__text секунд времени мастера
                .statistics__indicator.statistics__indicator--dark-gray
                    p.statistics__text.statistics__text--big 90 000
                    p.statistics__text постриженных волос
                .statistics__indicator.statistics__indicator--gray
                    p.statistics__text.statistics__text--big 500&nbsp;000&nbsp;*
                    p.statistics__text лайков и комплиментов

