mixin statistics(data)
    .statistics__wrap
        .statistics
            .statistics__triangle
            .statistics__tagline
                h2.text-h2 Стрижка у нас это выгодно!
                p.text.text--black Мужская стрижка требует точного подхода. Обратимся к статистике:
                p.text.text--gray.statistics__note * — приведённые данные ложь
            .statistics__indicators
                .statistics__indicator.statistics__indicator--gray
                    p.text.text--big 1 500 *
                    p.text рублей вложений
                .statistics__indicator.statistics__indicator--light-gray
                    p.text.text--big 7 200
                    p.text секунд времени мастера
                .statistics__indicator.statistics__indicator--dark-gray
                    p.text.text--big 90 000
                    p.text постриженных волос
                .statistics__indicator.statistics__indicator--gray
                    p.text.text--big 500&nbsp;000&nbsp;*
                    p.text лайков и комплиментов

