.statistics__wrap {
    display: flex;
    justify-content: center;
    margin-top: -160px;
}

.statistics {
    position: relative;
    display: flex;
}

.statistics__triangle {
    position: absolute;
    top: 37px;
    left: -23px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 23px 23px 0;
    border-color: transparent $white transparent transparent;
}

.statistics__tagline {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $white;
    padding: 30px 60px 30px 30px;
}


.statistics__indicators {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 2;
}

.statistics__indicator {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 160px;
    padding: 30px 0 30px 3.5%;
}

.statistics__indicator--gray {
    background-color: #404040;
}
.statistics__indicator--light-gray {
    background-color: #4e4e4e;
}
.statistics__indicator--dark-gray {
    background-color: #353535;
}

@include breakpoint-dfirst(desktop) {
    .statistics {
        flex-basis: 89%;
        flex-wrap: wrap;
    }

    .statistics__tagline {
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis: 100%;
    }

    .statistics__indicators {
        flex-basis: 100%;
    }
    .statistics__tagline .text {
        flex-basis: 45%;
        margin-top: 0.5em;
    }

    .statistics .text--big {
        font-size: 58px;
    }
}

@include breakpoint-dfirst(tablet) {
    .statistics {
        flex-basis: 100%;
    }
}

@include breakpoint-dfirst(phone) {
    .statistics {
        flex-wrap: wrap;
    }

    .statistics__triangle {
        display: none;
    }

    .statistics__tagline {
        text-align: center;
        justify-content: center;
        padding: 30px;
    }
    .statistics__tagline .text {
        flex-basis: 100%;
    }

    .statistics__note {
        position: absolute;
        bottom: -40px;
        left: calc(50% - 99px);
        z-index: 100;
    }

    .statistics__wrap {
        margin-top: 0;
    }


    .statistics__indicator {
        flex-basis: 100%;
        min-height: auto;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 22px 5%;
    }
    .statistics .text {
        font-size: 18px;
    }
    .statistics__indicator .text {
        text-align: right;
    }
    .statistics .text--big {
        font-size: 40px;
    }

}
